<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class="container">
            <p>This is a results page!</p>
            {{ new_game }}
            <p><a href="/">Play another round</a></p>
        </div>

    </body>
</html>
